html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 99.9%;
    text-align: center;
    color: black;
    background: linear-gradient(-45deg, rgb(120, 203, 231), #38abd8, #e66bf1, #bf6deb);
}

.Box {
    display: inline-block;
}

p,
span {
    font-size: large;
    font-family: Segoe Print;
}

.Error {
    color: red;
    font-weight: bold;
    font-family: Segoe Print;
    margin: 0 20px;
}